<div *ngIf="!usuario; then login; else logout"></div>

<ng-template #logout>
    <div class="row">
        <div class="col col-md-12">
            Bienvenido {{ usuario }}
        </div>
    </div>
    <div class="row">
        <div class="col col-md-12">
            <button class="btn btn-outline-danger" (click)="usuario = undefined">Salir</button>
        </div>
    </div>
</ng-template>

<ng-template #login>
    <div class="row">
        <div class="col col-md-12">
            Por favor ingrese
        </div>
    </div>
    <div class="row">
        <div class="col col-md-12">
            <button class="btn btn-outline-info" (click)="usuario = 'Michael'">Ingresar</button>
        </div>
    </div>
</ng-template>